:root {
    --primary: #18191F;
    --secondary: #4CAF4F;
}

@font-face {
    font-family: "inter";
    src: url(./fonts/Inter_18pt-SemiBold.ttf);
}

.blackcolor {
    color: var(--primary) !important;
}

.greencolor {
    color: var(--secondary);
}

.greencolor:hover {
    color: var(--secondary);
}

.bggreen {
    background-color: var(--secondary);
    color: aliceblue;
}

.bggreen:hover {
    background-color: var(--secondary);
}

.h1color {
    color: var(--secondary);
    font-weight: bold;
    font-family: "inter";
}

.Registerbutton {
    background-color: var(--secondary);
    margin-top: 12px;
}

.bg-hero{
    background-color: #F5F7FA;
}

.gapgap{
    gap: 100px;
}

.customshadow{
    box-shadow: 0px 2px 4px 0px #ABBED133;

}


.feature{
    color: #4CAF4F;
}

.h5color{
    color: var(--secondary);
}

.btn-size{
    width: 10%;
}

.footer{
    background-color: #263238;
}

.distribute{
    width: 30%;
}

.greycolor{
    background-color:#515b60 !important;
}

.greycolor::placeholder{
    color: white !important;
}



/* mobile */

@media screen and (max-width:576px) {
    .size {
        width: 50%;
    }
    .btn-size{
        width:50% ;
    }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:786px){
    
    .btn-size{
        width:25% ;
    }
}